@keyframes pulseAnimation {
  0% {
    color: #000000; /* Light Red */
  }

  25% {
    color: gray; /* Light Green */
  }
  50% {
    color: #3a3a3a; /* Green */
  }
  100% {
    color: #000000; /* Full Green */
  }
}

.icon-animate {
  font-size: 20px;
  animation: pulseAnimation 3s infinite; /* 5-second cycle for smooth transitions */
}
