img {
  transition: transform 0.3s ease;
}

.bg-gradient-custom {
  background: linear-gradient(to right, #e0f7fa, #b2ebf2);
}

.text-shadow {
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

img {
  transition: transform 0.3s ease;
}
