.Header_Bottom {
  width: 100%;
  height: 50px;
  /* background-color: rgb(82 82 82 / 7%); */
}

.Header_Bottom .headerBottomInner {
  height: 100%;
  display: flex;
  align-items: center;
  gap: 20px;
}

.Header_Bottom .headerBottomLft {
  display: flex;
  /* border: 2px solid red; */
  align-items: center;
  width: 50px;
  gap: 30px;
  /* margin-left: 235px; */
}

.navItem {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  color: black;
}

.navItem h3 {
  font-size: 15px;
  margin: 0;
  color: inherit;
}

.navItem.active h3 {
  color: blue;
}

.navItem i {
  padding: 5px;
  font-size: 1.2rem;
}

/* .loader {
  position: fixed;
  top: 50;
  left: 0;
  width: 100%;
  height: 10%;
  background-color: rgba(0, 0, 0, 0.5);

  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  z-index: 1000;
} */

/* HTML: <div class="loader"></div> */
.loader {
  width: 60px;
  aspect-ratio: 1;
  display: grid;
  position: absolute;

  left: 50%;
  border-radius: 50%;
  background: linear-gradient(
        0deg,
        rgb(0 0 50/50%) 30%,
        #0000 0 70%,
        rgb(0 0 0/100%) 0
      )
      50%/8% 100%,
    linear-gradient(90deg, rgb(0 0 50/25%) 30%, #0000 0 70%, rgb(0 0 0/75%) 0)
      50%/100% 8%;
  background-repeat: no-repeat;
  animation: l23 1s infinite steps(12);
}
.loader::before,
.loader::after {
  content: "";
  grid-area: 1/1;
  border-radius: 50%;
  background: inherit;
  opacity: 0.915;
  transform: rotate(30deg);
}
.loader::after {
  opacity: 0.83;
  transform: rotate(60deg);
}
@keyframes l23 {
  100% {
    transform: rotate(1turn);
  }
}
