.bmr-container {
  padding: 20px;
  background-color: #f9f9f9;
}

.bmr-title {
  font-size: 1.8em;
  margin-bottom: 15px;
  color: #1a5a74;
}

.bmr-status-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.status-btn {
  padding: 10px 20px;
  background-color: #5597b0;
  color: white;
  border: none;
  cursor: pointer;
  font-weight: bold;
}

.status-btn.active {
  background-color: #1a5a74;
}

.bmr-tabs-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.tab-btn {
  padding: 8px 16px;
  background-color: #3a7a94;
  color: white;
  border: none;
  cursor: pointer;
}

.bmr-details-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  flex: 0 0 45%; /* Adjust width */
}

.form-group.full-width {
  flex: 0 0 100%;
}

.input-field {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  font-size: 1em;
}

.random-details {
  margin-top: 20px;
}

.random-details ul {
  list-style-type: none;
  padding-left: 0;
}

.random-details li {
  background-color: #e6f4f7;
  margin-bottom: 5px;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #c9e7eb;
}
